extends layouts/default

block content
  ol.breadcrumb
    li
      a(href='/') Home
    li.active= discipline
  div.row
    div(class='col-sm-3')
      h3(class='sub-header')= discipline
      ul(class='nav nav-pills nav-stacked')
        li
          each type, i in categories
            a(href='/crafting/'+discipline+'/'+type class='list-group-item')= type